{
  "*.{js,jsx,ts,tsx,mjs}": [
    "oxlint --fix",
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.{css,json,html}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.md": [
    "biome format --write --no-errors-on-unmatched"
  ]
}
